body{
  text-align: center;
}

main {
  height: 1000px;
  font-family: 'Roboto', sans-serif;
 }
 a{
  text-decoration: none;
 }
 .container-fluid{
  display: flex;
  flex-direction: column;
  align-items: center;
 }
.navbar-text{
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
} 
#ola{
  margin-bottom: 50px;
}
#jubilado{
  margin-bottom: 50px;
}
#simular{
  border: 2px solid rgb(38, 92, 161);
  border-radius: 15px;
  padding: 5px 25px;
  background-color: rgb(38, 92, 161);
  font-size: 20px;
}

#devolucion{
  border: 2px solid rgb(38, 92, 161);
  border-radius: 15px;
  padding: 5px 25px;
  background-color: rgb(38, 92, 161);
  font-size: 20px;
}
.simula{
  color: rgb(38, 92, 161);
  font-size: 40px;
  font-weight: 600;
  
 }

.ingresoMonto{
  color: rgb(38, 92, 161);
  font-size: 40px;
 }

.luego {
  margin-top: 200px;
  color: rgb(38, 92, 161);
  font-size: 40px;
  font-weight: 600;
  text-decoration: none;
}
.mb-3{
  width: 50%;
}
.imagenPrestamo{
  width: 400px;
  height: 400px;

}
#terminosYcondiciones{
  padding-right:655px;
}
#registrarse{
  padding-top: 50px;
  border: 2px solid rgb(38, 92, 161);
  border-radius: 15px;
  padding: 5px 25px;
  background-color: rgb(38, 92, 161);
  font-size: 20px;
}
.footer{
  position: absolute;
  top: 1800px;
}
.footer2{
  position: absolute;
  top: 700px;
}


/*CLIMA*/
#btnClima {
  left: 300px;
  border: 2px solid rgb(38, 92, 161);
  border-radius: 15px;
  padding: 5px 25px;
  background-color: #cac7c7;
  font-size: 20px;

}

#informacionClima {
  position: left=100 px; }
  #informacionClima h2 {
    color: rgb(38, 92, 161);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
      display: flex;
      justify-content: center;
   }
.form-select{
  width: 50%;
  margin: 5px;
}
